header {
    margin-top: 0 !important;
}

.hr-header-column {
    padding-top: 0 !important;
}

hr {
    background-color: black;
}

#header-home-link {
    color: inherit;
    text-decoration: inherit;
}

#header-home-link:hover {
    text-decoration: underline;
}